@mixin title($fontWeight: bold, $fontSize: 22px, $fontFamily: 'Orbitron') {
  color: #eee;
  font: $fontWeight calc($fontSize / 1) $fontFamily;
  letter-spacing: 1.5px;
}

@mixin floatRelease {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

$bgColor: #15202c;
$btnEffectWid : 20px;
$btnEffectHt : 4px;
$btnColor : #eee;
$slideWid : 28vmax;
$slideHt : $slideWid;